<!DOCTYPE html>
<html>
    <head> 
	<title><% TITLE %></title> 
	<% CSS %> 
	<% JAVASCRIPT %> 
    </head> 
    <body>
	<div id="wrapper">
		<section id="headercontainer">
			<section id="headerbg"><a href="index.php"><{LOGO}></a></section>
		</section>
		<div id="navi">
			<% NAVIGATION %>
		</div>
			<% BOARD %> 

			<% AFFS %>
		<div id="skin_selector">
			<% SKIN_SELECTOR %>
		</div>
		<% COPYRIGHT %>
		<script>$('#logo a img[src="style_images/1/spacer.gif"]').replaceWith('<!-- |board_name| -->');</script>
	</div>
    </body> 
</html>