/*=============================================== *
* Jcink.com Forum Hosting Stylesheet
* ==============================================
* #Version:	1.0.2
*=============================================== */

html {
    overflow-x: auto;
    background-color: #060B0F;
} 
form { display:inline; }

/****************************************
Body Background & Text Style
*****************************************/

body { 
    background-color: #060B0F;
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    color: #222; margin:0px;
    padding:0px;
    text-align:center;
}

/****************************************
Board Width
*****************************************/

#wrapper { 
    text-align:left;
    width: 80%;
    margin: 20px auto 30px;
    background: #19191A;
    padding-bottom: 5px;
    border: 0 10px solid #1A1A1C;
    background-color: #080F14;
}

/****************************************
Header & Header Hover
*****************************************/

#headercontainer {
    background-color: #080F14;
    border-bottom: 5px solid #5C5E74;
    width: 80%;
    margin: auto;
}

#headerbg {
    background-image: url('');
    /* Add in transform elements */
}

#header {
    display: none;
}

/****************************************
Side Nav
*****************************************/

#side-nav {
    position: absolute;
    left: 12%;
}

#nav-list {
    background-color: #0D171E;
    width: 30px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    list-style: none;
    padding: 0;
    border-radius: 20px;
    border: 2px solid silver;
}

#nav-list-wrapper {
    padding: 2px;
    background-color: linear-gradient(to bottom, red, purple)
}

#expanded-nav {
    background-color: #0D171E;
    list-style: none;
    padding: 0;
}

#nav-list a, a:hover, a:active {
    color: silver;
    font-size: 15px;
}

#up-nav {
    box-sizing: border-box;
    margin-top: 15px;
}

#nav-list li {
    box-sizing: border-box;
    padding: 5px 0;
}

/****************************************
Miscellaneous
*****************************************/

/* Skin selector dropdown */
#skin_selector { 
    margin: 10px 0; 
}

#navi {
    display: none;
}

#navsrip {
    display: none;
}

#submenu {
    display: none;
}

#userlinks {
    display: none;
}