/****************************************
Profile styles 
*****************************************/

#profilename { 
    font-size:28px;
    font-weight:bold; 
}

#photowrap { 
    padding:6px; 
}

#phototitle { 
    font-size:24px; 
    border-bottom:1px solid black;
}

#photoimg   { 
    text-align:center; margin-top:15px; 
} 

/****************************************
UserCP/My Controls styles
*****************************************/

#ucpmenu { 
    line-height:150%;
    width:22%; 
    border:1px solid #555;
    background-color: #EFEFEF;
}

#ucpmenu p  { 
    padding:2px 5px 6px 9px; 
    margin:0px;  
}

#ucpcontent { 
    background-color: #EFEFEF; 
    border:1px solid #545454;
    line-height:150%; width:auto; 
}

#ucpcontent p  { 
    padding:10px;
    margin:0px; 
}